@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
*{
	font-family: 'Open Sans', sans-serif;
}

table thead th{
	text-align: center !important;
}
#loginContainer{
	background: url(../img/wall.jpg);
	width: 100%;
	height: 100%;
}
.container{
	width: 90%;
	max-width: 1280px;
}
.container_form{
	width: 100%;
	max-width: 1280px;
	display: block;
	margin: auto;

}
.dato{
	display: block;
	background: aliceblue;
	padding: 6px;
	margin-top: 5px;
	margin-bottom: 10px;
	min-height: 35px;
	font-size: .95em;
}
label {
    color: #151515 !important;
    font-size: 1em !important;
}
.btn_nuevo{
	margin-bottom: 20px;
}
#listado,
#listado_no_dataTable{
	border: 1px solid #dcdcdc;
}
#listado tbody tr td,
#listado thead th,
#listado_no_dataTable tbody tr td,
#listado_no_dataTable thead th{
	border-left: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	padding: 5px;
}
#form_instalacion .row h5{
	margin-bottom: 20px;
}
#form_instalacion .row{
	background: #fff;
	border: 1px solid #979797;
	padding: 20px;
	border-radius: 5px;
}
input[type=text]:disabled{
	color: #333;
}
span.info{
	display: block;
    border-bottom: 1px solid #9E9E9E;
    padding-bottom: 6px;
    margin-top: 9px;
}




